*{

    margin: 0;
    padding: 0;
}

body{
    background-color: #f0f8ff;
    font-family: sans-serif;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}
fieldset{
    border: 3px solid blue;
}